@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Kumbh Sans", "Space Mono", "Roboto Slab";
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.font-Kumbh {
  font-family: "Kumbh Sans", sans-serif;
}

.font-Roboto {
  font-family: "Roboto Slab", serif;
}

.font-SpaceMono {
  font-family: "Space Mono", monospace;
}

body {
  width: 100%;
  min-height: 100vh;
}
